/* Загальні стилі для сторінки */
body {
    /* Шлях до фону */
    background-image: url('../img/2.jpg'); /* Перевірте шлях і розширення файлу */
    background-color: black; /* Резервний колір фону, якщо зображення не завантажиться */
    background-size: cover; /* Розтягнути фон по всій сторінці */
    background-repeat: no-repeat; /* Заборонити повторення зображення */
    background-position: center; /* Розташувати фон у центрі */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* Стилі для контейнера */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Додаємо для кращого управління відступами */
}

/* Загальні стилі для тексту заголовків */
h1, h2 {
    color: #ffffff;
}

/* Стилі для зображень в тексті */
img {
    float: left;
    margin-right: 20px;
}

/* Загальні стилі для абзаців */
p {
    margin: 0;
}

/* Стилі для таблиці навичок */
.skill-table {
    border-collapse: collapse;
    width: 100%;
}
.skill-table td {
    padding: 15px; /* Більші відступи для зручності */
    border: 1px solid #ccc;
}

/* Стилі для посилань */
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Додаткові стилі для зображення круглого аватару */
.about img {
    border-radius: 50%;
}
